header.site-header{
	padding-bottom:150px;
}
img{
	width:200px !important;
	height: 200px !important;
	display: block;
	margin:0 auto;
}
.top-section p{
	margin:0 auto;
	text-align: justify;
}
#data-container{
	background:white;
	color:black;
	margin-bottom: 1rem;
	padding:1rem;
}
#insightsio-about-us-img{
	height:600px !important;
	width:800px !important;
}