header.site-header{
	padding-bottom:150px;
}
img{
	width:200px !important;
	height: 200px !important;
	display: block;
	margin:0 auto;
}
.top-section p{
	margin:0 auto;
	text-align: justify;
}
#data-container{
	background:white;
	color:#777;
	margin-bottom: 1rem;
	padding:1rem;
}
#insightsio-about-us-img{
	height:550px !important;
	width:600px !important;
}
.product-description{
	font-size:1rem;
}
.product-image{
	margin-bottom: 1rem !important;
}