div.side-navigator{
  top: 42%;
}
header.site-header{
	padding-bottom:150px;
}
.top-section{
	padding-top:0;
	text-align: justify;
}
.product-description{
	margin:0 auto !important;
}
.top-section .row{
	margin:2rem 0;
}
#portfolio{
    margin-top: -30%;
}
.#portfolio .product-heading{
	color:black !important;
}
.container-first{
	border-bottom:4px solid;
	padding-bottom:2rem;
}
#Grid{
	padding-top:1rem;
}
.container-first .product-heading{
	font-size:2rem;
}
.container-first .page-heading{
	margin-bottom: 0rem;
}
li.active a{
	color:#777 !important;
}
li.active-product-page a{
	color:#f55858 !important;
}
.container-demo{
	margin:0 auto;
	text-align: left;
}
img.product-image {
    width: 250px;
}