header.site-header{
	padding-bottom:150px;
}
.top-section{
	padding-top: 0;
    text-align: justify;
    padding-bottom: 2rem;
    background: #fff;
    color: #777777;
}
.top-section p{
	margin:0 auto;
	text-align: justify;
}
.row-first{
	margin-bottom:2rem;
}
.page-heading{
	font-weight: normal;
	font-size:32px;
}
.below-h1{
	font-size:1rem;
}
.product-heading{
	font-weight: normal !important;
	font-size:26px !important;
}
#products .circle h3 {
	top:40%;
}
em{
	color: black;
}
#core-services{
	background: #f55858;
	color:#fff;
	padding-top:2rem;
	padding-bottom:2rem;
}
#portfolio{
    margin-top: 0%;
    padding-top:30px;
}
.#portfolio .product-heading{
	color:black !important;
}
#Grid{
	padding-top:1rem;
}
.container-first .product-heading{
	font-size:2rem;
}
.container-first .page-heading{
	margin-bottom: 0rem;
}
li.active a{
	color:#777 !important;
}
li.active-services-page a{
	color:#f55858 !important;
}
.container-demo{
	margin:0 auto;
	text-align: left;
}

.product-description{
	font-size: 1rem;
	text-align: justify;
}