header.site-header{
	padding-bottom:150px;
}
.top-section p{
	margin:0 auto;
	text-align: justify;
}
.top-section .row{
	margin-bottom:2rem;
}
#products .circle h3 {
	top:40%;
}
em{
	color: black;
}
#portfolio{
    margin-top: -20%;
}
.#portfolio .product-heading{
	color:black !important;
}
.container-first{
	border-bottom:4px solid;
	padding-bottom:2rem;
}
#Grid{
	padding-top:1rem;
}
.container-first .product-heading{
	font-size:2rem;
}
.container-first .page-heading{
	margin-bottom: 0rem;
}
li.active a{
	color:#777 !important;
}
li.active-services-page a{
	color:#f55858 !important;
}
.container-demo{
	margin:0 auto;
	text-align: left;
}